.w-date-picker-wrap {
    width: 324px;
    position: relative;
    box-shadow: 0 2px 3px rgba(#000, 0.3);

    li {
        list-style: none;
    }

    .confirm {
        height: 36px;
        display: flex;
        justify-content: flex-end;
        line-height: 36px;
        background: #fff;
        border-top: 1px solid #ededed;

        &-btn {
            font-size: 14px;
            padding: 0 12px;
            cursor: pointer;

            &.ok {
                color: #f00;
            }

            &.cancel {
                color: #999;
            }
        }
    }

    .w-date-picker-content {
        width: 100%;
        overflow: hidden;

        .w-date-picker-top {
            display: flex;
            border-bottom: 1px solid #ededed;

            li {
                cursor: pointer;
                display: flex;
                color: #fff;
                flex: 1;
                justify-content: center;
                align-items: center;
                height: 40px;
            }

            .current-day {
                cursor: auto;
                flex: 2.5;
                font-weight: bolder;
                color: #f00 !important;
            }
        }
    }

    .w-content {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 5%;
        box-sizing: border-box;
    }

    .w-content:first-child .w-content_item_tag,
    .w-content:first-child .w-content_item {
        color: #ddd;
    }

    .w-content_item {
        width: 13.5%;
        text-align: center;
        color: #fff;
        position: relative;
        font-size: 14px;
        height: 36px;

        .week-item {
            width: 36px;
            height: 36px;
            line-height: 36px;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #999999;
        }

        .w-day-item {
            width: 36px;
            height: 36px;
            line-height: 36px;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #222222;
            cursor: pointer;
        }
    }

    .w-arrow-left {
        width: 12px;
        height: 12px;
        border-top: 2px solid #ffffff;
        border-left: 2px solid #ffffff;
        transform: rotate(-45deg);
    }

    .w-arrow-left:active,
    .w-arrow-right:active {
        border-color: #ddd;
    }

    .w-arrow-right {
        width: 12px;
        height: 12px;
        border-top: 2px solid #ffffff;
        border-right: 2px solid #ffffff;
        transform: rotate(45deg);
    }

    .w-content_item>.w_isMark {
        margin: auto;
        border-radius: 100px;
        background: blue;
        z-index: 2;
    }

    .w-content_item .w_other_dayhide {
        color: #bfbfbf;
    }

    .w-content_item .w_want_dayhide {
        color: #bfbfbf;
    }

    .w-content_item .w_isToday {
        background: yellow;
        border-radius: 100px;
    }

    .w-content_item .w_chose_day {
        background: green;
        border-radius: 100px;
    }

    .w-date-picker-content {
        background-color: #fff !important;
    }

    .w-content_item {
        color: #777 !important;
    }

    .w-arrow-left {
        border-top: 2px solid #aaa !important;
        border-left: 2px solid #aaa !important;
    }

    .w-arrow-right {
        border-top: 2px solid #aaa !important;
        border-right: 2px solid #aaa !important;
    }

    .w_chose_day {
        background: #f00 !important;
        color: #fff !important;
        border-radius: 100px !important;
    }
}