@import url(g:\ww-archives\src\wui-theme\src\icomoon.css);
.public-mask {
  max-width: 100%;
  max-height: 100%;
  position: fixed;
  overflow: auto;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  background-color: rgba(55, 55, 55, 0.6);
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.wui-color {
  height: 50px;
  width: 180px;
  padding: 20px;
  float: left;
  margin-right: 30px;
}

.wui-color p {
  color: #ffffff;
}

.wui-color p:nth-child(1) {
  font-weight: bold;
}

.wui-color__primaryColor {
  background-color: #35A785;
}

.wui-color__primaryLightColor {
  background-color: #3EC29A;
}

.wui-color__primaryActiveColor {
  background-color: #239E6D;
}

.wui-other-color {
  height: 50px;
  width: 130px;
  padding: 20px;
  color: #fff;
  float: left;
  margin-right: 30px;
}

.wui-other-color p {
  color: #ffffff;
}

.wui-other-color p:nth-child(1) {
  font-weight: bold;
}

.wui-other-color__info {
  background-color: #42E5D3;
}

.wui-other-color__success {
  background-color: #13ce66;
}

.wui-other-color__warning {
  background-color: #FFD82B;
}

.wui-other-color__error {
  background-color: #FF422B;
}

.wui__modal {
  background-color: #ffffff;
}

.wui__modal--header {
  width: 100%;
  height: 45px;
  background-color: #35A785;
  line-height: 45px;
  font-weight: bolder;
  text-align: center;
  position: relative;
  color: #ffffff;
}

.wui__modal--header--success {
  background-color: #13ce66;
}

.wui__modal--header--warning {
  background-color: #FFD82B;
}

.wui__modal--header--error {
  background-color: #FF422B;
}

.wui__modal--header--confirm {
  background-color: #FFD82B;
}

.wui__modal__closeIcon {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.wui__modal--content {
  margin: 15px auto;
}

.wui__modal--content p {
  text-align: center;
}

.wui__modal--body {
  margin: 15px auto;
  padding: 10px;
}

.wui__modal--footer {
  height: 35px;
  width: 140px;
  margin: 25px auto;
}

.wui__modal--footer--confirm {
  width: 320px;
}

.wui__modal--btn {
  width: 130px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #000000;
  font-size: 14px;
  cursor: pointer;
}

.wui__modal--btn--ok {
  float: right;
  border: 1px solid #35A785;
  background-color: #ffffff;
}

.wui__modal--btn--info {
  border: 1px solid #35A785;
}

.wui__modal--btn--info:hover {
  background-color: #35A785;
  color: #ffffff;
}

.wui__modal--btn--success {
  border: 1px solid #13ce66;
}

.wui__modal--btn--success:hover {
  background-color: #13ce66;
  color: #ffffff;
}

.wui__modal--btn--warning {
  border: 1px solid #FFD82B;
}

.wui__modal--btn--warning:hover {
  background-color: #FFD82B;
  color: #ffffff;
}

.wui__modal--btn--error {
  border: 1px solid #FF422B;
}

.wui__modal--btn--error:hover {
  background-color: #FF422B;
  color: #ffffff;
}

.wui__modal--btn--confirm {
  border: 1px solid #FFD82B;
}

.wui__modal--btn--confirm:hover {
  background-color: #FFD82B;
  color: #ffffff;
}

.wui__modal--btn--cancel {
  float: left;
  margin-right: 50px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
}

.modal-fade-enter-active, .modal-fade--leave-active {
  transition: opacity 0.6s;
}

.modal-fade-enter, .modal-fade-leave-to {
  opacity: 0;
}

.wui__button {
  padding: 10px 14px;
  border: none;
  color: #ffffff;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-color: #dcdee2;
  cursor: pointer;
  outline: 0;
}

.wui__button.is-round {
  border-radius: 20px;
}

.wui__button.is-plain {
  background-color: #ffffff;
  color: #000000;
}

.wui__button.is-plain:hover {
  background-color: #f6f6f6;
}

.wui__button__loading {
  float: left;
  display: block;
  margin-right: 5px;
  width: 14px;
  height: 14px;
  border: 2px solid #f6f6f6;
  border-bottom: #dcdee2 2px solid;
  border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: loading 1.1s infinite linear;
}

.wui__button__loading.info {
  border-bottom: #42E5D3 2px solid;
}

.wui__button__loading.primary {
  border-bottom: #35A785 2px solid;
}

.wui__button__loading.success {
  border-bottom: #13ce66 2px solid;
}

.wui__button__loading.warning {
  border-bottom: #FFD82B 2px solid;
}

.wui__button__loading.danger {
  border-bottom: #FF422B 2px solid;
}

.wui__button__loading.default {
  border-color: #42E5D3;
  border-bottom: #f6f6f6 2px solid;
}

.wui__button.is-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.wui__button__default {
  color: #000000;
}

.wui__button__default--medium {
  padding: 8px 12px;
}

.wui__button__default--small {
  padding: 6px 10px;
}

.wui__button__primary {
  background-color: #35A785;
  border-color: #35A785;
}

.wui__button__primary:hover {
  background-color: #3EC29A;
}

.wui__button__primary--medium {
  padding: 8px 12px;
}

.wui__button__primary--small {
  padding: 8px 10px;
}

.wui__button__success {
  background-color: #13ce66;
  border-color: #13ce66;
}

.wui__button__success:hover {
  background-color: #51CF89;
}

.wui__button__success--medium {
  padding: 8px 12px;
}

.wui__button__success--small {
  padding: 8px 10px;
}

.wui__button__info {
  background-color: #42E5D3;
  border-color: #42E5D3;
}

.wui__button__info:hover {
  background-color: #81E6DA;
}

.wui__button__info--medium {
  padding: 8px 12px;
}

.wui__button__info--small {
  padding: 8px 10px;
}

.wui__button__warning {
  background-color: #FFD82B;
  border-color: #FFD82B;
}

.wui__button__warning:hover {
  background-color: #FFE263;
}

.wui__button__warning--medium {
  padding: 8px 12px;
}

.wui__button__warning--small {
  padding: 8px 10px;
}

.wui__button__danger {
  background-color: #FF422B;
  border-color: #FF422B;
}

.wui__button__danger:hover {
  background-color: #FF5F4A;
}

.wui__button__danger--medium {
  padding: 8px 12px;
}

.wui__button__danger--small {
  padding: 8px 10px;
}

@-webkit-keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wui__message {
  position: fixed;
  width: auto;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  line-height: 1;
  left: 50%;
  top: 20px;
  height: auto;
  transform: translateX(-50%);
  background-color: #edf2fc;
  transition: opacity .3s,transform .4s;
  overflow: hidden;
  padding: 15px 15px 15px 20px;
  background-color: #ffffff;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
  z-index: 1000;
}

.wui__message i {
  float: left;
}

.wui__message__icon--info {
  color: #35A785;
}

.wui__message__icon--success {
  color: #13ce66;
}

.wui__message__icon--warning {
  color: #FFD82B;
}

.wui__message__icon--error {
  color: #FF422B;
}

.wui__message__content {
  float: left;
}

.wui__message__content__body {
  margin: 0 10px;
}

.wui__message__closeTxt {
  float: right;
  cursor: pointer;
  color: #35A785;
}

.wui__message__iconbox {
  float: right;
  cursor: pointer;
}

.message-fade-enter-active {
  animation: bounce-in .5s;
}

.message-fade-leave-active {
  animation: bounce-out .5s;
}

@keyframes bounce-in {
  0% {
    top: 0;
    opacity: 0.2;
  }
  100% {
    top: 20px;
    width: auto;
    opacity: 1;
  }
}

@keyframes bounce-out {
  0% {
    top: 20px;
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 0;
  }
}

.wui__notice {
  display: flex;
  width: 330px;
  padding: 14px 26px 14px 13px;
  border-radius: 8px;
  box-sizing: border-box;
  position: fixed;
  background-color: #ffffff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  transition: opacity .3s,transform .3s,left .3s,right .3s,top .4s,bottom .3s;
  overflow: hidden;
  z-index: 1000;
  right: 16px;
}

.wui__notice__icon {
  display: block;
  width: 15px;
  height: 100%;
  line-height: 1;
}

.wui__notice__icon--info {
  color: #35A785;
}

.wui__notice__icon--warning {
  color: #FFD82B;
}

.wui__notice__icon--error {
  color: #FF422B;
}

.wui__notice__icon--success {
  color: #13ce66;
}

.wui__notice__content {
  margin: 0 10px;
  line-height: 1;
}

.wui__notice__content--title {
  margin-bottom: 5px;
}

.wui__notice__content--title.info {
  color: #35A785;
}

.wui__notice__content--title.warning {
  color: #FFD82B;
}

.wui__notice__content--title.success {
  color: #13ce66;
}

.wui__notice__content--title.error {
  color: #FF422B;
}

.wui__notice__content--body {
  color: #606266;
  line-height: 1.3;
}

.wui__notice__closeIcon {
  cursor: pointer;
  position: absolute;
  color: #606266;
  right: 10px;
}
