.DS_Store
node_modules
**/dist

**/bak
**/test/
**/directories
.vscode/
pnpm-lock.yaml


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
**/pnpm-lock.yaml*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


epluspay/
electron-shopee-chat/
auto-build-swagger-api/
tauri-explore/
node-mock-api/
nav-old/
省份数据/
有用的资源/