<!DOCTYPE html>
<html>

<head>
		<% include ./includes/title.ejs %>
		<% include ./includes/link.ejs %>
</head>

<body>
		<div id="root">
				<div style="width: 400px;height: 400px;text-align: center;margin-left: 50%;position: absolute;top: 200px;left:-200px;">
						<img class="not-found-pic" style="width: 400px;" src="../static/images/undraw_not_found.png" alt="">
						<div class="404">页面走丢了～～<a href="/" style='color:#f76230'>回到首页</a></div>
				</div>
		</div>
</body>

</html>
