<!DOCTYPE html>
<html>

<head>
		<% include ./includes/title.ejs %>
		<% include ./includes/link.ejs %>
</head>

<body>
		<div id="root">
				<% include ./includes/header.ejs %>
				<% include ./includes/rightFixed.ejs%>
				<div class="container emalacca-about-wrap">
						<div class="content-1">
								<p class="xx-large-title delay200 animated" data-animate="fadeInUp">马六甲ERP</p>
								<p class="desc delay500 animated" data-animate="fadeInUp">东南亚跨境电商一站式解决方案</p>
						</div>
						<div class="content content-2">
								<div class="left-content delay200 animated" data-animate="fadeInUp">
										<article>
												<strong>全流程ERP系统</strong>——采集刊登、运营、采购、物流、仓管、财务、经营分析全流程覆盖的ERP， 智能聊聊客服无缝连接， M2B一件采购产业带供应链直供商品、
												WMS及时可视化管理库存周转，财务分析工具算清每个SKU利润，让您在一个ERP内搞定所有经营所需；
										</article>
										<article>
												<strong>选品/物流/海外仓优质服务商对接</strong>——优选市场上高性价比、服务有保障的货代服务商、官方认证的培训机构、东南亚本地的海外仓、价格优于1688的产业带供应链的优质合作供应商资源供您选择，让您更省时、省心，少踩坑；
										</article>
										<article>
												<strong>开店/运营/广告等顾问式服务</strong>——以客户为中心，不定期对接官方招商经理，提供新手运营辅导、快捷开店等服务，帮助卖家快速度过新手期，成功毕业；提供工商、财务、税务、本地化合规咨询顾问服务
										</article>
								</div>
								<div class="right-content delay300 animated" data-animate="fadeInRight">
										<img src="../static/images/about/top-1.png" alt="">
								</div>
						</div>
						<div class="content content-3  animated" data-animate="fadeInUp">
								<p class="xx-large-title">风采展示</p>
								<p class="desc">Wonderful show</p>
								<div class="pic-content">
										<div class="left-content">
												<div class="wrap-1">
														<img src="../static/images/about/show-1.png" alt="">
												</div>
												<div class="wrap-2">
														<img src="../static/images/about/show-2.png" alt="">
														<img src="../static/images/about/show-3.png" alt="">
												</div>
										</div>
										<div class="right-content">
												<div class="top-content">
														<img src="../static/images/about/show-4.png" alt="">
														<img src="../static/images/about/show-5.png" alt="">
												</div>
												<div class="bottom-content">
														<img src="../static/images/about/show-6.png" alt="">
												</div>
										</div>
								</div>
						</div>
						<div class="content content-4 delay300 animated" data-animate="fadeInUp">
								<p class="xx-large-title">专业的团队</p>
								<p class="desc">Professional team</p>
								<div class="team-content">
										<div class="info-item">
												<img src="../static/images/about/icon-1.png" alt="">
												<p>研发团队</p>
												<article>
														由50+深耕跨境近10年大卖、产品、研发技术团队，以市场需求和客户为导向，进行产品设计、迭代及功能维护，通过标准化技术服务、个性化的增值服务帮助卖家与物流商减少运营中重复性劳动，提升运营效率，使客户聚焦于核心能力的提升。
												</article>
										</div>
										<div class="info-item">
												<img src="../static/images/about/icon-2.png" alt="">
												<p>营销团队</p>
												<article>
														由渠道部与品牌部组织的营销团队，近1年以来与深圳跨境协会、Shopee官方、东南亚知识局等主办多次大卖分享会、跨境电商论坛，加强东南亚跨境电商的交流和发展；以产品为坚实基础，提升品牌影响力和行业口碑。
												</article>
										</div>
										<div class="info-item">
												<img src="../static/images/about/icon-3.png" alt="">
												<p>运营团队</p>
												<article>
														由用户运营和社群运营、产品组成运营中心，以客户为中心搭建完善售后及客户服务机制，5分钟快速响应客户需求，为客户免费提供系统使用、管理运作方面解疑答惑。
												</article>
										</div>
								</div>
						</div>
						<div class="content content-5">
								<p class="xx-large-title">联系我们</p>
								<p class="desc">Contact us</p>
								<div class="contact-content">
										<div class="contact-item">
												<p class="title">商务合作</p>
												<p class="info">联系方式：136-8247-0365</p>
										</div>
										<div class="contact-item">
												<p class="title">友情链接合作</p>
												<p class="info">联系方式：180-9895-1720</p>
										</div>
										<div class="contact-item contact-address">
												<p class="title">办公地址</p>
												<p class="info">
														深圳总部：深圳市龙华区光浩国际中心A座24-25楼<br />
														杭州办事处：杭州市江干区天空之翼3幢1210室<br />
														广州办事处：广州市白云区亮帆大厦B座7楼701<br />
														福建办事处：福建省厦门市湖里区跨境电商产业园3楼338室<br />
														华中办事处：长沙市岳麓区潇湘中路328号德必WE大厦711室<br />
														北方办事处：山西省太原市迎泽区劲松路3号中泰广场A座1209
												</p>
										</div>
								</div>
						</div>
				</div>
				<% include ./includes/footer.ejs %>
		</div>
</body>

</html>
