<!DOCTYPE html>
<html>

<head>
	<% include ./includes/title.ejs %>
	<% include ./includes/link.ejs %>
</head>

<body>
	<div id="root">
		<div class="trans-center animated backInRight">
			<div class="welcome">welcome!</div>
		</div>
	</div>
</body>

</html>
