<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/i.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="Cache-Control"
      content="no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0"
    />
    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />
    <meta name="keywords" content="<%= keywords %>" />
    <link rel="stylesheet" href="./iconfont/iconfont.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.css" />
    <script>
      var _hmt = _hmt || []
      ;(function () {
        var hm = document.createElement('script')
        hm.src = 'https://hm.baidu.com/hm.js?6ac0633f7bc89c87e804f413349c3f77'
        var s = document.getElementsByTagName('script')[0]
        s.parentNode.insertBefore(hm, s)
      })()
    </script>
  </head>
  <body style="background: rgb(231, 239, 244)">
    <div id="root">
      <canvas id="mouse" style="position: fixed; top: 0; z-index: 0; pointer-events: none"></canvas>
      <canvas
        id="canvas"
        width="1950px"
        height="1080px"
        style="position: fixed; top: 0px; left: 0px; z-index: -1; opacity: 1"
        id="canvas"
      ></canvas>
      <canvas
        id="canvasbg"
        width="1950px"
        height="1080px"
        style="position: fixed; top: 0px; left: 0px; z-index: -1; opacity: 1"
        id="canvas"
      ></canvas>
    </div>

    <!-- <script src="./public/canvas1.js"></script> -->
    <!-- <script src="./js/aha.js"></script> -->

    <script src="./js/mouse-move.js"></script>
    <script type="module" src="./src/main.tsx"></script>
  </body>
</html>
