body {
    /* background:red !important; */
    z-index: -1;
}

.emalacca-client-header-fixed{
    height: 64px;
    width: 100%;
    background: #dedede;
    position: fixed;
    z-index: 10;
    line-height: 64px;
    display: flex;
}

.nav-item{
    padding: 0 8px;
    cursor: pointer;
}

.nav-item:hover{
    background: #ffc069;
}