@primaryColor: rgba(238, 77, 45, 0.8);

@successColor: rgba(46, 204, 113, 0.9);

@infoColor: rgba(19, 194, 194, 0.9);

@errorColor: rgba(231, 76, 60, 0.9);

@warningColor: rgba(250, 140, 22, 0.9);

@linkLightColor: #f8f6f6;

@linkDarkColor: #4e4d4d;

@linkPrimaryColor: @primaryColor;
