@font-face {
  font-family: "em-iconfont"; /* Project id 1833787 */
  src: url('iconfont.woff2?t=1621824358709') format('woff2'),
       url('iconfont.woff?t=1621824358709') format('woff'),
       url('iconfont.ttf?t=1621824358709') format('truetype');
}

.em-iconfont {
  font-family: "em-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.em-icon-gongju:before {
  content: "\9e70";
}

.em-icon-13:before {
  content: "\e61d";
}

.em-icon-right1:before {
  content: "\e620";
}

.em-icon-xingzhuangjiehe:before {
  content: "\e60d";
}

.em-icon-jiesuo:before {
  content: "\e608";
}

.em-icon-shouji:before {
  content: "\e609";
}

.em-icon-mima:before {
  content: "\e60a";
}

.em-icon-head-img:before {
  content: "\e61c";
}

.em-icon-elipsis-v:before {
  content: "\e62e";
}

.em-icon-pick-down:before {
  content: "\e616";
}

.em-icon-nail:before {
  content: "\e615";
}

.em-icon-collect:before {
  content: "\e614";
}

.em-icon-pick-up:before {
  content: "\e613";
}

.em-icon-question:before {
  content: "\e612";
}

.em-icon-menu:before {
  content: "\e611";
}

.em-icon-fans:before {
  content: "\e610";
}

.em-icon-erp-logo:before {
  content: "\e60f";
}

.em-icon-emalacca-tuichu:before {
  content: "\e882";
}

.em-icon-emalacca-xuanzhong:before {
  content: "\9e69";
}

.em-icon-shopee:before {
  content: "\e60c";
}

.em-icon-right:before {
  content: "\e633";
}

.em-icon-iconfontguanyu1x:before {
  content: "\e61b";
}

.em-icon-iconstopwatch:before {
  content: "\e687";
}

.em-icon-checkmark-outline:before {
  content: "\e6b4";
}

.em-icon-icomoonheartbroken:before {
  content: "\eeb6";
}

.em-icon-geren3:before {
  content: "\e60b";
}

.em-icon-haoyou:before {
  content: "\e60e";
}

.em-icon-liaotian:before {
  content: "\e7d1";
}

.em-icon-shejiao-geren:before {
  content: "\e621";
}

.em-icon-shejiao-tuandui:before {
  content: "\e624";
}

.em-icon-chat:before {
  content: "\e602";
}

.em-icon-huabanfuben:before {
  content: "\e622";
}

.em-icon-favorite-filling:before {
  content: "\e601";
}

.em-icon-delete-filling:before {
  content: "\e605";
}

.em-icon-elipsis-h:before {
  content: "\e607";
}

.em-icon-error:before {
  content: "\e617";
}

.em-icon-close:before {
  content: "\e618";
}

.em-icon-arrow-left:before {
  content: "\e619";
}

.em-icon-loading:before {
  content: "\e61a";
}

.em-icon-cry:before {
  content: "\e61e";
}

.em-icon-comment:before {
  content: "\e61f";
}

.em-icon-smile:before {
  content: "\e623";
}

