* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  // background: #fff;
}
.content {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  &::after {
    content: '';
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    background-size: 100% 100%;
    backdrop-filter: blur(2px);
    z-index: 1;
  }
  .left {
    width: 200px;
    height: 100%;
    width: 60px;
    position: relative;
    .logo {
      height: 80px;
      cursor: pointer;
      img {
        height: 30px;
        width: 30px;
        border-radius: 15px;
        margin-top: 20px;
        margin-left: 15px;
      }
    }
    .menu-content {
      width: 100%;
      .menu-item {
        height: 50px;
        line-height: 50px;
        box-sizing: border-box;
        text-align: center;
        cursor: pointer;
        font-weight: 400;
        font-size: 24px;
        position: relative;
        &:hover {
          // background: #d9d9d9 !important;
        }
        &:last-child {
          border-bottom: none;
        }
        &:hover .tooltip {
          opacity: 1;
          transition: 0.8s;
        }
        .iconfont {
          // position: absolute;
        }
        .name {
          font-size: xx-small;
        }
        .tooltip {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 60px;
          font-size: 14px;
          width: auto;
          white-space: nowrap;
          padding: 0 14px;
          height: 50px;
          z-index: 2;
          box-sizing: border-box;
          font-weight: 500;
          display: block;
          background: rgba(0, 0, 0, 0.4);
        }
      }
    }
    .extend-tool {
      width: 100%;
      position: absolute;
      bottom: 12px;
      text-align: center;
      .tool-item {
        height: 60px;
        line-height: 60px;
        position: relative;
        .iconfont {
          font-size: 24px;
          // cursor: pointer;
        }
        .theme-icon {
          cursor: pointer;
        }
        &.background-icon {
          position: relative;
          &:hover .source-list {
            opacity: 1;
            transition: 0.8s;
          }
          .source-list {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 60px;
            z-index: 100000;
            font-size: 14px;
            background: rgba(0, 0, 0, 0.4);
            display: block;
            li {
              list-style: none;
              height: 30px;
              line-height: 30px;
              padding: 4px 12px;
              white-space: nowrap;
              cursor: pointer;
              &:hover {
                background: rgba(0, 0, 0, 0.3);
              }
            }
          }
        }
      }
    }
  }
  .right {
    // background: #ccc;
    flex: 1;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 2;
    .time-wrap {
      height: 120px;
      text-align: center;
      margin-top: 50px;
      color: #fff;
      font-weight: 600;
      user-select: none;
      // background: #ccc;
      .time {
        font-size: 88px;
        line-height: 100px;
        font-weight: 500;
      }
    }
    .search-wrap {
      position: absolute;
      // left: 15%;
      right: calc(50% / 2);
      top: 210px;
      width: 50%;
      height: 48px;
      z-index: 2;
      input {
        width: 100%;
        height: 48px;
        background: transparent;
        outline: none;
        border-style: solid;
        border-width: 0px;
        padding-left: 48px;
        box-sizing: border-box;
        border-radius: 27px;
        font-size: 16px;
        font-weight: 500;
        background: rgba(52, 73, 94, 0.5);
      }
      input::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
      }
      .prefix {
        position: absolute;
        left: 18px;
        top: 12px;
        border: none;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.4);
      }
      .search-icon {
        position: absolute;
        right: 18px;
        top: 12px;
        border: none;
        font-size: 20px;
      }
    }
    .web-content {
      position: absolute;
      top: 0;
      width: 100%;
      overflow: hidden;
      padding-top: 290px;
      scrollbar-width: none; /* firefox */
      -ms-overflow-style: none; /* IE 10+ */
      &::-webkit-scrollbar {
        display: none; /* Chrome Safari */
      }
      .swiper-container {
        width: 100%;
        height: 100%;
        position: relative;
        // padding: 0;
        // padding-top: 290px;
        overflow: hidden;
        // background: #ccc;
      }
      .swiper-wrapper {
        overflow: hidden;
      }
      .web-p-content {
        width: 80%;
        margin-left: 10%;
        height: 100%;

        .link-content {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          .link-item {
            list-style: none;
            width: 10%;
            text-align: center;
            padding: 12px;
            margin-bottom: 18px;
            cursor: pointer;
            transition: 2s;
            position: relative;
            transition: 800ms;
            overflow: hidden;
            font-weight: 500;
            border-radius: 6px;
            display: flex;
            align-items: center;
            .logo {
              width: 32px;
              height: 32px;
              border-radius: 8px;
              margin-right: 12px;
              &.random-logo {
                line-height: 32px;
                color: #fff;
                font-size: 14px;
              }
            }

            .name {
              font-size: xx-small;
              white-space: nowrap;
              overflow: hidden;
            }
            &.empty {
              background: none !important;
              cursor: auto;
              visibility: hidden;
            }
            &:hover {
              color: #fff !important;
            }
          }
        }
      }
    }
    .today-text {
      position: absolute;
      bottom: 12px;
      color: #fff;
      width: 100%;
      font-size: 14px;
      text-align: center;
    }
  }
}
