* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  // background: #fff;
}
.content {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  &::after {
    content: '';
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    background-size: 100% 100%;
    backdrop-filter: blur(2px);
    z-index: 1;
  }
  .left {
    width: 200px;
    height: 100%;
    width: 60px;
    position: relative;
    .logo {
      height: 80px;
      img {
        height: 30px;
        width: 30px;
        border-radius: 15px;
        margin-top: 20px;
        margin-left: 15px;
      }
    }
    .menu-content {
      width: 100%;
      .menu-item {
        height: 60px;
        line-height: 60px;
        box-sizing: border-box;
        text-align: center;
        cursor: pointer;
        font-weight: 400;
        font-size: 24px;
        position: relative;
        &:last-child {
          border-bottom: none;
        }
        &:hover .tooltip {
          opacity: 1;
          transition: 0.8s;
        }
        .tooltip {
          opacity: 0;
          position: absolute;
          font-size: 14px;
          right: -80px;
          top: 0;
          padding: 0 12px;
          z-index: 2;
          box-sizing: border-box;
          font-weight: 500;
          background: rgba(0, 0, 0, 0.4);
        }
      }
    }
    .extend-tool {
      width: 100%;
      position: absolute;
      bottom: 12px;
      text-align: center;
      .tool-item {
        height: 60px;
        line-height: 60px;
        .iconfont {
          font-size: 24px;
          cursor: pointer;
        }
      }
    }
  }
  .right {
    // background: #ccc;
    flex: 1;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 2;
    .time-wrap {
      height: 100px;
      text-align: center;
      font-size: 78px;
      line-height: 100px;
      margin-top: 60px;
      color: #fff;
      font-weight: 600;
      user-select: none;
    }
    .search-wrap {
      position: absolute;
      // left: 15%;
      right: calc((100% - 60%) / 2);
      top: 190px;
      width: 60%;
      height: 54px;
      // background: #999;
      input {
        width: 100%;
        height: 54px;
        background: transparent;
        outline: none;
        border-style: solid;
        border-width: 3px;
        padding-left: 18px;
        box-sizing: border-box;
        border-radius: 27px;
        font-size: 16px;
        font-weight: 500;
      }
      input::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.8);
        font-size: 14px;
      }
      .search-icon {
        position: absolute;
        right: 18px;
        top: 14px;
        border: none;
        font-size: 24px;
      }
    }
    .web-content {
      position: absolute;
      top: 280px;
      height: calc(100% - 100px);
      width: 100%;
      overflow: hidden;
      scrollbar-width: none; /* firefox */
      -ms-overflow-style: none; /* IE 10+ */
      &::-webkit-scrollbar {
        display: none; /* Chrome Safari */
      }
      .swiper-container {
        width: 100%;
        height: 100%;
        position: relative;
        padding: 0;
      }
      .web-p-content {
        width: 80%;
        margin-left: 10%;
        height: calc(100% - 200px);
        .p-name {
          height: 40px;
          margin-bottom: 20px;
        }
        .link-content {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          .link-item {
            list-style: none;
            width: 15%;
            text-align: center;
            padding: 20px;
            margin-top: 15px;
            cursor: pointer;
            transition: 2s;
            position: relative;
            transition: 800ms;
            overflow: hidden;
            font-weight: 500;
            &.empty {
              background: none !important;
              cursor: auto;
            }
            &:hover {
              color: #fff !important;
            }
          }
        }
      }
    }
    .today-text {
      position: absolute;
      bottom: 12px;
      color: #fff;
      width: 100%;
      font-size: 14px;
      text-align: center;
    }
  }
}
