.link-next {
    display: block;
    position: absolute !important;
    top: 23px;
    left: 0;
    z-index: 1000000000000000;
    width: 80px;
    /* height: 19px; */
    font-size: 13px !important;
    line-height: 15px;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    background-color: #409eff;
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
}
