<header class="emalacca-header">
	<div class="emalacca-header-content">
		<div class="logo-wrap">
			<a href="/">
				<img class="logo webpack-logo" src="../static/images/logo-primary.png" alt="webpack logo">
			</a>
		</div>
		<div class="nav-wrap">
			<div class="nav-item" data-i="home">
				<a href="/" class="nav-name">首页</a>
			</div>
			<div class="nav-item">
				<a href="/" class="nav-name">产品中心<i class="iconfont icondown-point" style="margin-left: 6px;"></i></a>
				<div class="list-wrap">
					<p class="title">软件产品</p>
					<ul>
						<li>
							<a href="https://erp.emalacca.com/" target="_blank">
								<div>
									<p> <b>马六甲ERP</b> </p>
									<p>全流程ERP系统</p>
								</div>
							</a>
						</li>
						<li>
							<a href="/plug">
								<div>
									<p><b>采集插件</b></p>
									<p>
										免费无限采集刊登工具
									</p>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="nav-item" data-i="customer">
				<a href="/customer" class="nav-name">客户案例</a>
			</div>
			<div class="nav-item" data-i="news">
				<a href="/news" class="nav-name">新闻动态</a>
			</div>
			<div class="nav-item" data-i="help">
				<a href="/help" class="nav-name">使用帮助</a>
			</div>
			<div class="nav-item" data-i="about">
				<a href="/about" class="nav-name">关于我们</a>
			</div>
		</div>
		<div class="operation-wrap">
			<a href="https://erp.emalacca.com/overview" target="_blank">登录</a>
			<button class="register-button">免费使用</button>
		</div>
	</div>
</header>
