<div class="emalacca-right-fixed">
	<div class="operation-item">
    <!-- url分享时，显示第一张图 -->
    <img src="../static/images/logo-erp.png" alt="" style="opacity: 0;width: 0;height: 0;">
		<img src="../static/images/icon/wechat.png" alt="" class="icon">
		<p>微信</p>
		<div class="detail-wrap">
			<p class="title-1">微信咨询</p>
			<p class="title-2">现在咨询领取Shopee 10G+运营礼包</p>
			<img src="../static/images/wechat-code-1.png" alt="" class="qr-code">
			<p class="title-2">微信扫一扫</p>
		</div>
	</div>
	<div class="operation-item">
		<img src="../static/images/icon/phone.png" alt="" class="icon">
		<p>电话</p>
		<div class="detail-wrap">
			<p class="title-1 left">人工服务</p>
			<p class=" left">180-9895-1720</p>
		</div>
	</div>
	<div class="operation-item">
		<img src="../static/images/icon/qrcode.png" alt="" class="icon">
		<p>公众号</p>
		<div class="detail-wrap">
			<p class="title-1">关注微信官方公众号</p>
			<p class="title-2">了解产品与行业最新动态</p>
			<img src="../static/images/public-account.png" alt="" class="qr-code">
		</div>
	</div>
	<div class="operation-item" id="BackTop">
		<img src="../static/images/icon/fold.png" alt="" class="icon">
	</div>
</div>
