<meta charset="utf-8">
<meta name="viewport" content="user-scalable=yes">
<title>
	<%%=title%>
</title>
<meta name="keywords" content="<%%=keywords%>">
<meta name="description" content="<%%=content%>">
<meta property="og:image" content="https://z3.ax1x.com/2021/06/01/2uUceP.png" />
<meta name="apple-mobile-web-app-title" content="<%%=content%>">
<meta property="og:locale" content="zh_CN">
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.emalacca.com/">
<meta property="og:title" content="<%%=title%>">
<meta property="og:description" content="<%%=content%>">
<meta property="og:site_name" content="马六甲 emalacca maliujia">
<link rel="shortcut icon" href="https://erp.emalacca.com/favicon.ico" type="image/x-icon">
<meta name="baidu-site-verification" content="code-RNm7a2n8LH" />
