input,
button,
select,
textarea {
    outline: none
}

input:-webkit-autofill,
select:-webkit-autofill,
textarea:-webkit-autofill {
    -webkit-text-fill-color: #000 !important;
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    background-color: transparent;
    background-image: none;
    transition: background-color 50000s ease-in-out 0s
}

.wrap {
    width: 90%;
    margin: auto;
    height: auto;
    padding: 20px;

    .input-wrap {
        height: 45px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;

        input {
            width: 78%;
            height: 35px;
            border: 1px solid #ccc;
            position: relative;
            padding: 0 15px;
            border-radius: 5px 0 0 5px;
        }

        .error-area {
            position: absolute;
            right: 25%;

            color: tomato;
            display: none;
        }

        #submit-btn {
            width: 22%;
            height: 37px;
            display: block;
            cursor: pointer;
            line-height: 37px;
            color: #fff;
            text-align: center;
            background: lightseagreen;
            user-select: none;
            border-radius: 0 5px 5px 0;
        }
    }

    #qrcode {
        width: 160px;
        height: 160px;
        margin: 0 auto;
        border-width: 6px;
        border-style: solid;
        border-top-color: #20716A;
        border-bottom-color: #EA4C4C;
        border-left-color: #F4A9C7;
        border-right-color: #FFF78C;
        padding: 3px
    }

    #save-btn {
        height: 35px;
        width: 180px;
        margin: 20px auto;
        line-height: 35px;
        text-align: center;
        color: #fff;
        cursor: pointer;
        background: lightseagreen;
        user-select: none;
        border-radius: 5px;
    }
}