*,body,html{
    margin: 0;
    padding: 0;
}
.emalacca-plugin-toast.error {
    background: rgba(231, 76, 60, 0.9);
}
.emalacca-plugin-toast.success {
    background: rgba(46, 204, 113, 0.9);
}
.emalacca-plugin-toast{
    color: #fff;
    width: 100vw;
    height: 100vh;
    line-height: 48px;
    font-size: 16px;
    user-select: none;
    box-sizing: border-box !important;
    text-align: center;
}