<<<<<<< HEAD
.emalacca-goods-btn:focus,
.emalacca-goods-btn:active {
	outline: none;
}

/*  列表
    遮罩层 */
.emalacca-plugin-mask {
	position: absolute;
	right: 0px;
	top: 0px;
	left: 0px;
	bottom: 0px;
	background: rgba(255, 255, 255, 0.5);
	z-index: 10;
	pointer-events: none;
	opacity: 0.8;
	display: none;
	cursor: none;
}

.emalacca-plugin-goods-acquisition-supply {
	background: rgba(#ccc, 0.2);
	position: absolute !important;
	z-index: 15;
	display: none;

	.emalacca-goods-btn {
=======
/*进度条*/
.sellerwant-progress-box {
	position: fixed;
	left: 50%;
	top: 10%;
	padding: 14px 28px;
	transform: translateX(-50%);
	background-color: #fff;
	opacity: 0;
	display: block;
	z-index: 9999999;
	text-align: center;
	box-shadow: 0px 2px 4px 0px rgba(215, 215, 215, 0.5);
	border-radius: 8px;
	overflow: hidden;
}

.sellerwant-progress-inner {
	width: 260px;
	height: 16px;
	border-radius: 15px;
	background-color: #3c3c3c;
	margin: 9px 0;
	overflow: hidden;
}

.sellerwant-progress-inner>span {
	position: absolute;
	left: 50%;
	z-index: 99;
	color: #fff;
	font-size: 14px;
	transform: translateY(-50%) translateX(-50%);
	top: 50%;
}

.sellerwant-progress-bg {
	background-color: #ff720d;
	height: 100%;
	width: 50%;
	overflow: hidden;
	position: relative;
}

.sellerwant-progress-results-failure {
	color: red;
	margin-left: 20px;
}

.sellerwant-progress-results {
	color: #727272;
}

.sellerwant-progress-box>p {
	margin: 0 !important;
}

.emalacca-goods-btn:focus,
.emalacca-goods-btn:active{
	outline: none;
}

.emalacca-plugin-goods-acquisition-supply {
	width: 150px;
	height: auto;
	z-index: 9;
	opacity: 0;
	position: relative;
	background: rgba(204, 204, 204, 0.2);
	.emalacca-goods-btn{
>>>>>>> a15dd05e7b36518510e1d4604177f9e1e733be56
		display: block;
		width: 100px;
		height: 30px;
		font-size: 14px;
		line-height: 30px;
		text-align: center;
<<<<<<< HEAD
		color: #fff;
		background-color: rgba(#ee4d2d, 0.8);
		cursor: pointer;
		margin: 0 auto;
		border-top: 1px solid #ccc;

		&:first-child {
			border-top: none;
		}
	}
}

.emalacca-plugin-goods-acquisition-select {
	position: absolute;
	cursor: pointer;
	display: none;
	z-index: 9999;
	width: 28px;
	height: 28px;
	right: 5px;
	top: 5px;
	color: rgb(255, 255, 255);
	text-align: center;
	box-shadow: rgb(17, 17, 17) 0px 0px 8px 2px;
	pointer-events: auto;
	border-radius: 50%;
	background-color: #fff;
	border-width: 2px;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.5);
	border-image: initial;

	.emalacca-goods-icon-select {
		margin: 0 !important;
		color: rgba(238, 77, 45, 0.8) !important;
		float: none !important;
		font-size: 30px !important;
		text-indent: -0.5px !important;
		line-height: 1 !important;
		display: none;
	}
}
/* 采集成功 */
.emalacca-plugin-success {
	color: #fff;
	background-color: #67c23a;
	border-color: #67c23a;
  }
=======
		color: rgb(255, 255, 255);
		background-color: rgba(238, 77, 45, 0.8);
		cursor: pointer;
		margin: 0px auto;
		border-bottom: 1px solid rgb(204, 204, 204);
	}
	.emalacca-goods-acquisition-select{
		position: absolute;
		cursor: pointer;
		z-index: 9999;
		width: 28px;
		display: block;
		height: 28px;
		right: 5px;
		top: 5px;
		color: rgb(255, 255, 255);
		text-align: center;
		box-shadow: rgb(17, 17, 17) 0px 0px 8px 2px;
		cursor: pointer;
		pointer-events: auto;
		border-radius: 50%;
		background-color: #fff;
		border-width: 2px;
		border-style: solid;
		border-color: rgba(255, 255, 255, 0.5);
		border-image: initial;
		.emalacca-goods-icon-select {
			margin: 0;
			color: rgba(238, 77, 45, 0.8);
			float: none;
			font-size: 30pxt;
			text-indent: -0.5px;
			line-height: 1;
			display: none;
		}
	}
}
>>>>>>> a15dd05e7b36518510e1d4604177f9e1e733be56
