@import "./common/common.less";

.emalacca-about-wrap {
		.content-1 {
				height: 365px;
				width: 100vw;
				background: url("../static//images/about/banner-1.png");
				background-size: 100% 100%;
				padding: 135px;
				box-sizing: border-box;

				.xx-large-title {
						color: #fff;
				}

				.desc {
						line-height: 60px;
						color: #fff;
				}
		}

		.content-2 {
				margin: 50px auto;
				display: flex;
				align-items: center;
				justify-content: space-between;

				.left-content {
						width: 50%;
						padding: 40px;

						.xx-large-title {
								line-height: 80px;
								text-align: left;
						}

						article {
								text-align: left;
								font-weight: 400;
								color: #545454;
								line-height: 32px;
						}
				}


				.right-content {
						img {
								height: 350px;
								vertical-align: middle;
						}
				}
		}

		.content-3 {
				height: auto;
				background: #fafafa;
				padding: 80px 0;
				box-sizing: border-box;
				width: 100%;

				.pic-content {
						display: flex;
						width: 1180px;
						margin: 30px auto;

						.left-content {
								width: 610px;

								.wrap-1 {
										height: 260px;
										margin-bottom: 10px;
										background: #ccc;

										img {
												width: 680px;
										}
								}

								.wrap-2 {
										height: 260px;
										display: flex;

										img {
												height: 224px;

												&:nth-child(1) {
														width: 430px;
														margin-right: 10px;
												}

												&:nth-child(2) {
														width: 170px;
												}
										}
								}
						}

						.right-content {
								width: 310px;
								margin-left: 10px;

								.top-content {
										height: 174px;
										margin-bottom: 10px;
										display: flex;

										img {
												height: 174px;

												&:nth-child(1) {
														width: 280px;
														margin-right: 10px;
												}

												&:nth-child(2) {
														width: 270px;
												}
										}
								}

								.bottom-content {
										height: 310px;
										width: 560px;

										img {
												width: 560px;
												height: 310px;
										}
								}
						}
				}
		}

		.content-4 {
				padding: 80px 0;
				box-sizing: border-box;

				.team-content {
						width: 100%;
						display: flex;
						justify-content: space-between;
						margin-top: 30px;


						.info-item {
								width: 380px;
								background: #ffffff;
								box-shadow: 0px 15px 12px 0px rgba(238, 238, 238, 0.5);
								border-radius: 1px;
								padding: 20px;
								user-select: none;
								box-sizing: border-box;

								img {
										margin: 30px 0 16px;
										height: 80px;
										width: 80px;
								}

								p {
										color: #1c1c1c;
										font-weight: 600;
										line-height: 28px;
								}

								article {
										text-align: left;
										font-size: 14px;
										color: #828999;
										padding: 20px;
										line-height: 26px;
								}

								&:hover {
										box-shadow: 0px 15px 12px 0px rgba(#d9d9d9, 0.5);
								}
						}
				}
		}

		.content-5 {
				margin: 80px auto;

				.contact-content {
						display: flex;
						justify-content: space-between;
						box-sizing: border-box;

						.contact-item {
								width: 380px;
								height: auto;
								padding: 20px 0;
								box-sizing: border-box;

								.title {
										font-size: 16px;
										color: #202124;
										line-height: 46px;
								}

								.info {
										font-size: 14px;
										color: #7e8287;
										line-height: 28px;
								}

								&.contact-address {
										width: 420px;
								}
						}
				}
		}
}
