<template>
  <div class="{{ dashCase name }}-wrap">{{ name }}</div>
</template>
<script>
export default {
  name: '{{ properCase name }}',
  props: {
    //TODO
  },
  data() {
    return {
      //
    }
  },

  mounted() {
    //TODO
  },

}
</script>
<style lang="scss">
.{{ dashCase name }}-wrap {
  //
}
</style>